In [27]:
col_names = ['age','workclass','fnlwgt','education','education_num','marital_status','occupation','relationship','race'
             ,'sex','capital_gain','capital_loss','hours_per_week','native_country','class']
import pandas as pd
data_adult = pd.read_csv('C:adult.data.txt',names = col_names)

In [28]:
data_adult.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [29]:
data_adult.education

0            Bachelors
1            Bachelors
2              HS-grad
3                 11th
4            Bachelors
5              Masters
6                  9th
7              HS-grad
8              Masters
9            Bachelors
10        Some-college
11           Bachelors
12           Bachelors
13          Assoc-acdm
14           Assoc-voc
15             7th-8th
16             HS-grad
17             HS-grad
18                11th
19             Masters
20           Doctorate
21             HS-grad
22                 9th
23                11th
24             HS-grad
25           Bachelors
26             HS-grad
27        Some-college
28             HS-grad
29             HS-grad
             ...
32531        Bachelors
32532        Doctorate
32533        Bachelors
32534     Some-college
32535             12th
32536        Bachelors
32537          HS-grad
32538        Bachelors
32539        Doctorate
32540          HS-grad
32541          HS-grad
32542          HS-grad
32543       Assoc-acdm
32544          Masters
32545       Assoc-acdm
32546       Assoc-acdm
32547          HS-grad
32548      Prof-school
32549     Some-college
32550     Some-college
32551             10th
32552        Assoc-voc
32553          Masters
32554          Masters
32555     Some-college
32556       Assoc-acdm
32557          HS-grad
32558          HS-grad
32559          HS-grad
32560          HS-grad
Name: education, Length: 32561, dtype: object

In [80]:
edu_ms = data_adult['education'] == 'Bachelors'

In [82]:
edu_ms['education']

KeyError: 'education'

In [49]:
edu_num = data_adult[(data_adult['education_num'] >9) & (data_adult['education_num'] < 13)]

In [50]:
edu_num[['education_num','education']]

       education_num      education
10                10   Some-college
13                12     Assoc-acdm
14                11      Assoc-voc
27                10   Some-college
30                12     Assoc-acdm
31                10   Some-college
33                10   Some-college
34                10   Some-college
36                10   Some-college
38                10   Some-college
39                12     Assoc-acdm
48                11      Assoc-voc
49                11      Assoc-voc
50                10   Some-college
55                10   Some-college
57                11      Assoc-voc
64                10   Some-college
66                10   Some-college
68                10   Some-college
69                10   Some-college
70                10   Some-college
73                10   Some-college
74                10   Some-college
76                12     Assoc-acdm
90                11      Assoc-voc
91                10   Some-college
92                10   Some-college
95                10   Some-college
97                10   Some-college
98                12     Assoc-acdm
...              ...            ...
32452             10   Some-college
32453             10   Some-college
32454             10   Some-college
32471             10   Some-college
32474             12     Assoc-acdm
32478             12     Assoc-acdm
32481             11      Assoc-voc
32482             10   Some-college
32483             10   Some-college
32484             10   Some-college
32486             10   Some-college
32487             10   Some-college
32488             10   Some-college
32495             10   Some-college
32506             11      Assoc-voc
32514             11      Assoc-voc
32516             11      Assoc-voc
32519             10   Some-college
32524             12     Assoc-acdm
32525             11      Assoc-voc
32527             10   Some-college
32534             10   Some-college
32543             12     Assoc-acdm
32545             12     Assoc-acdm
32546             12     Assoc-acdm
32549             10   Some-college
32550             10   Some-college
32552             11      Assoc-voc
32555             10   Some-college
32556             12     Assoc-acdm

[9740 rows x 2 columns]

In [75]:
data_edu = data_adult['education'] == 'Masters'

In [77]:
data_edu.value_counts()

False    32561
Name: education, dtype: int64

In [78]:
data_edu[['education','sex']][:25]

KeyError: "None of [['education', 'sex']] are in the [index]"

In [57]:
data_age = data_adult[(data_adult['age']>50) & (data_adult['sex'] == 'Male') ]

In [54]:
data_age[['age','education']]

Empty DataFrame
Columns: [age, education]
Index: []

In [55]:
data_adult.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'class'],
      dtype='object')

In [72]:
df_rs = data_adult['relationship'] == 'Husband'

In [73]:
df_rs.value_counts()

False    32561
Name: relationship, dtype: int64

In [67]:
data_adult.relationship[:23]

0      Not-in-family
1            Husband
2      Not-in-family
3            Husband
4               Wife
5               Wife
6      Not-in-family
7            Husband
8      Not-in-family
9            Husband
10           Husband
11           Husband
12         Own-child
13     Not-in-family
14           Husband
15           Husband
16         Own-child
17         Unmarried
18           Husband
19         Unmarried
20           Husband
21         Unmarried
22           Husband
Name: relationship, dtype: object

In [83]:
data_adult['education'].value_counts()

 HS-grad         10501
 Some-college     7291
 Bachelors        5355
 Masters          1723
 Assoc-voc        1382
 11th             1175
 Assoc-acdm       1067
 10th              933
 7th-8th           646
 Prof-school       576
 9th               514
 12th              433
 Doctorate         413
 5th-6th           333
 1st-4th           168
 Preschool          51
Name: education, dtype: int64

In [84]:
data_edu = data_adult['education'] == '11th'

In [85]:
data_edu.value_counts()

False    32561
Name: education, dtype: int64

In [87]:
data_edu[['education','sex']]

KeyError: "None of [['education', 'sex']] are in the [index]"